* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5c6bf;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding: 20px;
}

.logo-container {
    margin:0 auto;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    background: #c5c6bf;
    padding: 15px 0;
    z-index: 1000;
    /* max-width: 350px; */
}

.logo {
    max-width: 60px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 0 0px;
}

.side-text {
    color: #202223;
    font-weight: bold;
    font-size: 1.0rem;
    text-transform: uppercase;
    flex-shrink: 0;
    width: 120px;
    text-align: center;
  
}

.main-container {
    
    border: 3px solid #202223;
    padding: 0px;
    background-color: #c5c6bf;
    border-radius: 0px;
    margin: 0 auto; 
    
}

.menu-container {
    margin:0 auto;
    margin-top: 80px;
    border: 4px solid #202223;
    background-color: white;
    padding: 10px;
    max-width: 350px;
}

.menu-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.menu-section h2 {
    text-align: center;
    color: #202223;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    /* border-top: 2px solid #ddd; */
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding: 5px;
    /* border-bottom: 1px solid #ddd; */
}

.item-name {
    font-weight: bold;
    color: #202223;
}

.item-price {
    color: #8A7F5C;
    font-weight: bold;
}

/* Optional CSS for smoother transitions */
#flash-icon {
    transition: opacity 0.5s ease-in-out;
    font-size: 32px;
    color: #ff0000; /* Red color example */
}


@media (max-width: 350px) {
    .menu-columns {
        grid-template-columns: 1fr;
    }
    
    body {
        padding: 10px;
    }

    .logo-container {
        padding: 10px 0;
    }

    .logo-wrapper {
        justify-content: center;
    }
    
}